<ul class="rating-tool">
<li><a class="one" href="">Rate 1 Star</a></li>
<li><a class="two" href="">Rate 2 Stars</a></li>
<li><a class="three" href="">Rate 3 Stars</a></li>
<li><a class="four" href="">Rate 4 Stars</a></li>
</ul>


<style>
.rating-tool{
	
	list-style-type :none;
	width :165px;
	height : 50px;
	position :relative;
	background : url('/media/star_inactive.png') top-left repeat-x;

}

.rating-tool li{

	margin:0;
	padding:0;
	float:left;
}

.rating-tool li a{

	display: block;
	width: 50px;
	height: 50px;
	text-indent: -10000px;
	text-decoration: none;
	position: absolute;
	padding: 0;
	z-index: 5;
}

.rating-tool li a:hover{

	background: url('/media/star_active.png') left-bottom;
	z-index: 1;
	left: 0px;

}


.rating-tool a.one{ left:0px;  }
.rating-tool a.one:hover{ width:50px;  }
.rating-tool a.two{ left:50px; }
.rating-tool a.two:hover{ width:100px;  }
.rating-tool a.three{ left:100px;  }
.rating-tool a.three:hover{ width:150px;  }
.rating-tool a.four{ left:250px;  }
.rating-tool a.four:hover{ width:200px;  }

</style>