{% extends 'base.html' %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
<h1>Reset your password</h1><br>
{% if validlink %}
 <p>Please enter your new password twice</p><br>
 <form action="." method="post">
 	{% csrf_token %}
 	{% for field in form %}
 	 <div>
 	   {{ field.errors }}<br>
 	   {{ field.label_tag }}<br>
 	   {{ field }}
 	 </div><br>
 	{% endfor %}
 	<input class="btn btn-success" type="submit" value="Reset">
 </form>
{% else %}
  <p>The reset password link was invalid perhaps because it has already been used</p>
  <p>Please request a new reset password link</p>
{% endif %}

{% endblock %}